{{template "base" .}}

{{define "content"}}
    <section class="accueil-section">
        <h2>Bienvenue sur OpenPharmacie </h2>
         <p> Site gratuit de ressources pour les pharmaciens d'officine et leurs équipes </p>
         <p> Simple d'accès, et contenu ludique</p>
    </section>
{{end}}