{{template "base" .}}

{{define "content"}}
    <section class="accueil-section">
        <button><a href="/signin/google"> Connect with google </a></button>
    </section>
    <script defer src="https://kit.fontawesome.com/8c6e47f935.js" crossorigin="anonymous"></script>
{{end}}