{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="">
                <li><a href="/">Acceuil</a></li>
                <li><a href="/fiches">Fiches</a><div></li>
                <li><a href="/cascomptoir">Conseils</a></li>
            </ul>
            
        </nav>
    </header>
    <div class="grid-section">
        <div></div>
        <div>
            {{ block "content" . }}
            {{ end }}
        </div>
        <div></div>
    </div>
        
    <footer>
        <ul>
            <a href="/admin/signin"> portail administrateur </a>
        </ul>
    </footer>
        
</body>
</html>
{{ end }}